/***************
 * BASE STYLES * 
 ***************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f0f2f5;
  --hover-shadow: #f2f2f2;
  --border: #ccc;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --reactions-links: #65676b;
  --black1: #1c1e21;
  --black2: #050505;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background: var(--background);
  min-height: 100%;
  font-size: 1.6rem;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
}

/***************
 * POST HEADER * 
 ***************/

.post {
  background: var(--white);
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
}

.post__header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem 0 1.6rem;
}

/* Header left */
.header__left {
  flex: 1;
}

.author__name:hover,
.post__date:hover {
  text-decoration: underline;
}

.author__verified,
.post__privacy,
.options__icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(../images/icons-list-1.png);
  background-size: 7.1rem 43.2rem;
  background-repeat: no-repeat;
  background-position: -1.7rem -38.6rem;
}

.author__name {
  margin-right: 0.2rem;
}

.post__author-pic {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
  transition: filter 0.2s ease;
}

.post__author-pic:hover {
  filter: brightness(0.95);
}

.post__author {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black2);
}

.post__date {
  display: block;
  float: left;
  font-size: 1.3rem;
  color: var(--black1);
}

/* Dot between post author and post date */
.post__date-privacy-separator {
  position: relative;
  bottom: 0.1rem;
}

.post__privacy {
  background-image: url(../images/icons-list-2.png);
  background-size: 2.6rem 89.4rem;
  background-position: 0 -78.2rem;
  opacity: 0.6;
}

/* Header right */
.post__options {
  padding: 1rem;
  border-radius: 50%;
  line-height: 1rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.post__options:hover {
  background: var(--hover-shadow);
}

.options__icon {
  height: 2rem;
  width: 2rem;
  position: relative;
  background-size: 7.4rem 43rem;
  background-position: -2.2rem -24rem;
  opacity: 0.6;
}

/****************
 * POST CONTENT * 
 ****************/

.content__paragraph {
  font-size: 1.5rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
}

.content__image {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  display: block;
}

.content__image:hover {
  cursor: pointer;
}

/***************
 * POST FOOTER * 
 ***************/

/* Reactions */
.footer__reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  color: var(--reactions-links);
  font-size: 1.5rem;
}

.reactions__emojis {
  display: flex;
  align-items: center;
}

.emojis__like,
.emojis__haha,
.emojis__love {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
}

.emojis__like {
  z-index: 2;
}

.emojis__haha {
  z-index: 1;
  left: -0.2rem;
}

.emojis__love {
  left: -0.4rem;
}

.emojis__count {
  margin-left: 0.3rem;
}

.comment-shares__shares {
  margin-left: 0.2rem;
}

.emojis__count:hover,
.comment-shares__comments:hover,
.comment-shares__shares:hover {
  text-decoration: underline;
}

/* Footer buttons (Like, Comment, Share) */
.footer__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1.2rem;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.buttons__like,
.buttons__comment,
.buttons__share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 3.5rem;
  margin: 0.2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: var(--reactions-links);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons__like:hover,
.buttons__comment:hover,
.buttons__share:hover {
  background: var(--hover-shadow);
}

.like__icon,
.comment__icon,
.share__icon {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  background-image: url("../images/icons-list-3.png");
  background-size: 2.6rem 77.4rem;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin-right: 0.5rem;
}

.like__icon {
  background-position: 0 -18rem;
}

.comment__icon {
  background-position: 0 -14rem;
}

.share__icon {
  background-position: 0 -20rem;
}
